Source: pixz
Section: utils
Priority: optional
Maintainer: Leon Marz <main@lmarz.org>
Build-Depends: asciidoc,
               cppcheck,
               debhelper-compat (= 13),
               docbook-xml,
               docbook-xsl,
               libarchive-dev,
               liblzma-dev,
               pkg-config
Standards-Version: 4.6.1
Vcs-Git: https://salsa.debian.org/debian/pixz.git
Vcs-Browser: https://salsa.debian.org/debian/pixz
Homepage: https://github.com/vasi/pixz
Rules-Requires-Root: no

Package: pixz
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: parallel, indexing XZ compressor/decompressor
 Pixz is a multithreaded compressor/decompressor XZ fully compatible
 with those provided by xz-utils and busybox. By default it adds
 indexing information when compressing tar files that allows fast
 listing and partial-archive extraction.
